@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: #191970;
}
main {
    margin: auto;
    text-align: center;
}

main h1 {
    color: black;
    
}

main > section#menus {
    margin: auto;
    background-color: rgba(255, 255, 255, 0.664);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.411);
    text-align: center;
    width: 450px;
    padding: 20px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(0%, -50%);
}



main > section div {
    margin: 10px;
    
}

main > section > div#esc > menu > ul > li {
    margin-top: 10px;
    padding: 10px;
    list-style-type: none;
    background-color: black;
    border-radius: 20px;
}

main > section > div#esc > menu > ul > li > a {
    text-decoration: none;
    color: white;
}


main > section#sec2 {
    margin: auto;
    background-color: rgba(255, 255, 255, 0.664);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.411);
    text-align: center;
    width: 450px;
    padding: 20px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-15%, -50%);
}

.buttonn {
    margin-top: 20px;
    border: 1px solid black;
    padding: 10px;
    font-size: 16pt;
}

.buttonn:hover {
    cursor: pointer;
    text-decoration: underline;
    padding: 10px;
    transition: .4s;
}

.button {
    padding: 5px;
    border-radius: 10px;
    border: 0;
}

.button:hover {
    cursor: pointer;
    text-decoration: underline;
    padding: 10px;
    background-color: black;
    color: white;
    transition: .4s;
}


div#res {
    font-size: 13pt;
}
footer {
    margin-top: 10px;
    text-align: center;
}

footer p  {
    font-style: italic;
}
